@import "tailwindcss";

@theme {
  --font-geist-mono: var(--font-geist-mono);
  --font-geist-sans: var(--font-geist-sans);

  --color-primary: #F6F930;
  --color-black: #000000;
  --color-light-grey: #E5E5E5;
}

@layer base {
  body {
    @apply font-geist-sans font-semibold bg-light-grey;
  }
}